test*
a.out
0x02-functions_nested_loops
0x07-recursion
$(find -name "*~" -type f)
0x0D-structures_typedef/
0x0C-preprocessor
0x0B-more_malloc_free
0x0A-malloc_free
refinery
0x09-argc_argv
.gitignore *
